@font-face {
   font-family: 'wt040';
   src: url('wt040/font.ttf');
}
@font-face {
   font-family: 'wt014';
   src: url('wt014/font.ttf');
}
@font-face {
   font-family: 'wt024';
   src: url('wt024/font.ttf');
}
@font-face {
   font-family: 'wt011';
   src: url('wt011/font.ttf');
}
@font-face {
   font-family: 'SentyCHALKoriginal';
   src: url('SentyCHALKoriginal/font.ttf');
}
